h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background: gold;
}


.bacon {
  background: green;
}
.broccoli {
  background: red;
}
.circular {
  border-radius: 100%;
}

#heading {
  color: blue;
}
